@grey: #dce1df;
@orange: #ffad58;
@blue: #49f3ff;

 /*
body {
  background: @grey;
  transition: all 0.15s ease-in;
}*/

div.steporvid {
  top: 50%;
  transform: translate3d(0,-50%,0);
  text-align: center;
  width: 100%;
}
.steporvid a {
  border: 1px solid darken(@grey,50);
  border-radius: 2px;
  color: darken(@grey,50);
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  margin: 4px 2px;
  padding: 6px 18px;
  text-decoration: none;
  text-transform: uppercase;
  transform: translate3d(0,0,0);
  transition: all 0.15s ease-in;
  color:#000000;
}

.steporvid a:hover {
  border: 1px solid rgba(255,255,255,0);
  box-shadow: 0 4px 8px desaturate(darken(@grey,20),20);
  color: darken(@grey,40);
  transform: translate3d(0,-4px,0);
  color:#000000;
}


body.orange {
  background: @orange;
  .steporvid a {
    border: 1px solid darken(@orange,50);
    color: darken(@orange,50);
  }
  .steporvid a:hover {
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 4px 8px desaturate(darken(@orange,20),20);
    color: darken(@orange,40);
  }
}

body.blue {
  background: @blue;
  .steporvid a {
    border: 1px solid darken(@blue,50);
    color: darken(@blue,50);
  }
  .steporvid a:hover {
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 4px 8px desaturate(darken(@blue,20),20);
    color: darken(@blue,40);
  }
}


