<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>植得 | 課堂內容</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //custom-theme -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- gallery -->
	<link href="css/lsb.css" rel="stylesheet" type="text/css">

	<!-- 107512 menu -->
	<link href="css/107512/menu.css" rel="stylesheet"> 
	<link href="css/107512/menustyle107512.css" rel="stylesheet"> 
	<link href="css/107512/menustyle107512.scss" rel="stylesheet"> 


	<!-- //gallery -->
	<!-- font-awesome-icons -->
	<link href="css/font-awesome.css" rel="stylesheet"> 
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

	<!-- classVidView -->
	
		<!-- Magnific Popup core CSS file -->
		<link rel="stylesheet" href="css/107512/classVidView/magnific-popup.css">
		<link rel="stylesheet" href="css/107512/classVidView/qunit.css">
		<link rel="stylesheet" href="css/107512/classVidView/site.css">
		
		
		<!-- courseName Textbox 
		<link rel="stylesheet" type="text/css" href="css/107512/courseViewEdit/courseNameTextbox.css" /> -->
		<link rel="stylesheet" type="text/css" href="css/107512/courseViewEdit/courseNameTextbox2.css" />
		
		<!-- Class版型 --> 
		<link href="css/107512/courseView/courseGallery.css" rel="stylesheet">	
		<link href="css/107512/courseView/courseView2.css" rel="stylesheet">
		<link href="css/107512/courseView/courseView2.scss" rel="stylesheet">
		<link rel="stylesheet" href="css/107512/class/classmain.css" />
		
		<link href="css/107512/classVidView/bootstrap.min.css" rel="stylesheet">
		<link href="css/107512/class/classbuttonForEle.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="css/107512/class/classbutton.css" />
		<link href="css/107512/classVidView/myClassVid.css" rel="stylesheet">
		<link href="css/107512/classVidView/myClassVidEdit.css" rel="stylesheet">
		<link href="css/107512/font.css" rel="stylesheet">
	
	<!-- //classVidView -->
</head>
	
<body>
<!-- banner -->
<div class="banner1">
	<div class="container">
		<div class="w3_agileits_banner_main_grid">
			<div class="w3_agile_logo">
				<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
				<img src="images/logo.png" style="height:15%; width:15%; background:#a1d034; border-radius: 15px;"></img>
			</div>
			<!--
			<div class="agile_social_icons_banner">
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			-->
			<div class="agileits_w3layouts_menu">
				<div class="shy-menu">
					<!--<a class="shy-menu-hamburger">
						<span class="layer top"></span>
						<span class="layer mid"></span>
						<span class="layer btm"></span>
					</a>
					<div class="shy-menu-panel">
						<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
							<ul class="w3layouts_menu__list">
								<li class="active"><a href="/index">首頁</a></li>
								<li><a href="/about">關於我們</a></li> 
								<li><a href="/services">教學</a></li>
								<li><a href="/course">課程</a></li> 
								<li><a href="/contact">會員</a></li>
							</ul>
						</nav>
					</div>-->
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!--- connect menu.css start-->
		<div class="menu-icon107512">
			<span class="menu-icon__line menu-icon__line-left"></span>
			<span class="menu-icon__line"></span>
			<span class="menu-icon__line menu-icon__line-right"></span>
		</div>

		<div class="nav107512">
			<div class="nav__content">
				<ul class="nav__list">
					<li class="nav__list-item" style="text-decoration:none;"><a href="/index"><img src="images/menuhome.png" style="margin-right:7px;">首頁</img></li>
					<li class="nav__list-item"><a href="/about"><img src="images/menuabout.png" style="margin-right:7px;">關於我們</img></li>
					<li class="nav__list-item"><a href="/services"><img src="images/menuteach.png" style="margin-right:7px;">教學</img></li>
					<li class="nav__list-item"><a href="/course"><img src="images/menucourse.png" style="margin-right:7px;">課程</img></li>
					<li class="nav__list-item"><a href="/login"><img src="images/menuaccount.png" style="margin-right:7px;">會員</img></li>
				</ul>
			</div>
		</div>
		<!--- connect menu.css end-->
	</div>
</div>
<!-- banner -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Germinate
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="w3layouts_breadcrumbs_left">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="/index">首頁</a><span>/</span></li>
					<li><i class="fa fa-picture-o" aria-hidden="true"></i>課程瀏覽<span>/</span></li>
					<li><i class="fa fa-picture-o" aria-hidden="true"></i>[課程名稱]<span>/</span></li>
					<li><i class="fa fa-picture-o" aria-hidden="true"></i>[課堂名稱]</li>
				</ul>
			</div>
			<div class="w3layouts_breadcrumbs_right">
				<h2>[課程名稱]</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- gallery -->
<div class="container-fluid">
	<div class="row">

		<div class="containercourseView2">
			<div class="rowcourseView2 header">
				
				<!-- courseName Textbox start -->
				<div class="inputblock">
					<div class="centered">
						<div class="group">
							<input type="text" id="name"  style="font-size: 40px;" required>
							<label class="TitleL" for="name" style="font-family: 'Arbutus Slab', serif, 'Noto Sans TC', sans-serif;">課堂標題</label>
							<div class="bar" style="position: absolute;"></div>
						</div>
					</div>
				</div>	
				<!-- courseName Textbox end-->
		
				<h2 style="">2018/05/05</h2>
			</div>
	
		<div class="col-md-12 classVid">
			<!-- <h3>
				[課堂名稱]
			</h3>
			-->
			<form role="form" enctype="multipart/form-data" method="post" action="/cfVidAdd" >
			<!--  選擇影片  -->
			<h2 class="classVidH2">課堂內容</h2>
			<div class="row">
				
				<!--<form role="form" enctype="multipart/form-data" method="post" action="/cfVidAdd" >-->
					<div class="col-md-12 colVid">
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
						<label class="fileContainer" style="font-family: 'Arbutus Slab', serif, 'Noto Sans TC', sans-serif; font-weight: 6; font-size: 25px; width: 11%; text-align:center;">
							選擇影片檔
							<input type="file" name="video" class="file_multi_video" accept="video/*">
						</label>
						
						<video width="400" controls>
						<source src="" id="video_here">
							您的瀏覽器不支援此 HTML5 影片標籤
						</video>

						<p class="classContent">
							<br>課程敘述：<br>
							<textarea id="textarea" name="word" class="classContent" style="width:60%;height:80px;" required/></textarea>
						</p>
						
						<!--作業部分-->
						<div class="hw">
							
							<h2>課堂作業</h2>
								<ul>
									<li>
										<label class="hw_Q" for="textarea" style="" >作業題目：</label><br>
										<textarea id="textarea" name="describe" style="width:100%;height:100px; " required/></textarea>
									</li>
								</ul>
						</div>
						<div class="containerbuttonview" style="margin-left:40%; margin-right:50%;">
							<button id="buttonCreate" type="submit">編輯完成</button>
						</div>
					</div>
				<!--</form>-->
			</div>
			</form>
			
			<!--
			<div class="btn-group" role="group">			
				<a class="popup-with-form" href="#test-form">
				<button class="btn btn-secondary" type="button">
					作業
				</button> </a>
				
			</div>
			-->
			
			
				<!-- form itself -->
				<!--<form role="form" onsubmit="submitHw()" action="/cfVidHwAdd" enctype="multipart/form-data" method="post" >
					
					<h2>課堂作業</h2>
					<fieldset style="border:0;"></fieldset>
						<ul>
							<li>
								<label for="textarea" style="margin-top: 50px;" >作業題目：</label><br>
								<textarea id="textarea" name="describe" style="width:100%;height:100px;" required/></textarea>
							</li>

							<div class="containerbuttonview" style="margin-left:40%; margin-right:50%;">
									<button id="buttonCreate" type="submit">確定</button>
							</div>
						</ul>
					</fieldset>
				</form>
				-->
				<!-- 
				<div class="btn-group" role="group">
					<button class="btn btn-secondary" type="button">
						上一章節
					</button>
				</div>
				-->
				
			<!---------------->
		</div>
	</div>
	</div>
</div>
<!-- //gallery -->
	<script src="js/lsb.min.js"></script>
	<script>
	$(window).load(function() {
		  $.fn.lightspeedBox();
		});
	</script>
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="w3agile_footer_grids">
			<div class="col-md-3 agileinfo_footer_grid" style="margin-left:200px;">
				<div class="agileits_w3layouts_footer_logo">
					<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
				<img src="images/logo.png" style="height:50%; width:50%; background:#a1d034; border-radius: 15px;"></img>
				</div>
			</div>
			<div class="col-md-4 agileinfo_footer_grid" style="margin-left:80px;">
				<h3 class="footer-h3" style="margin-left: -10%;" >聯絡資訊</h3>
				
				<h4>連絡電話 <span>02-2598-6218</span></h4>
				<p><h4>研究室地址</h4> <span style="color:#fff; font-size:15px;"> 臺北市中正區濟南路 121號,六藝樓四樓401教室</span></p>
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div> <!--
			<div class="col-md-2 agileinfo_footer_grid agileinfo_footer_grid1">
				<h3>Navigation</h3>
				<ul class="w3layouts_footer_nav">
					<li><a href="/index"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Home</a></li>
					<li><a href="/icons"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Web Icons</a></li>
					<li><a href="/typography"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Typography</a></li>
					<li><a href="/contact"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 agileinfo_footer_grid">
				<h3>Blog Posts</h3>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/2.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/3.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>-->
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3_agileits_footer_copy">
		<div class="container">
			<p>© 2017 Germinate. All rights reserved | Design by <a href="http://w3layouts.com">ntub107512 專題組.</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>

	<!-- 107512 menu -->
	<script src="js/107512/menu.js"></script>
	<script src="js/107512/menu2107512.js"></script>

	<!-- for classVidView working -->
	<script src="js/107512/classVidView/jquery.min.js"></script>
    <script src="js/107512/classVidView/bootstrap.min.js"></script>
	<script src="js/107512/classVidView/scripts.js"></script>
	
	<!-- Magnific Popup core JS file -->
		<script src="js/107512/classVidView/jquery.magnific-popup.js"></script>
		<script src="js/107512/classVidView/Gruntfile.js"></script>
		<script src="js/107512/classVidView/popup/ajax.js"></script>
		<script src="js/107512/classVidView/popup/core.js"></script>
		<script src="js/107512/classVidView/popup/gallery.js"></script>
		<script src="js/107512/classVidView/popup/Gruntfile.js"></script>
		<script src="js/107512/classVidView/popup/iframe.js"></script>
		<script src="js/107512/classVidView/popup/image.js"></script>
		<script src="js/107512/classVidView/popup/inline.js"></script>
		<script src="js/107512/classVidView/popup/retina.js"></script>
		<script src="js/107512/classVidView/popup/zoom.js"></script>
		<script src="js/107512/classVidView/popup/jquery-loader.js"></script>
		<script src="js/107512/classVidView/popup/jquery.js"></script>
		<script src="js/107512/classVidView/popup/qunit.js"></script>
		<script src="js/107512/classVidView/popup/uglify.js"></script>
		<script src="js/107512/classVidView/popup/zepto.js"></script>
		<script src="js/107512/classVidView/popup/zepto.min.js"></script>
	<!-- Magnific Popup End -->
	
	<!-- courseName Textbox -->
	<script src="js/107512/courseViewEdit/courseNameTextbox.js"></script>
	
	
	<script src="js/107512/classVidView/myClassVid.js"></script>
	
	<!-- //for classVidView working -->
	
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script>

	function readURL(input){
	
	  if(input.files && input.files[0]){
	
		var imageTagID = input.getAttribute("targetID");
	
		var reader = new FileReader();
	
		reader.onload = function (e) {
	
		   var img = document.getElementById(imageTagID);
	
		   img.setAttribute("src", e.target.result)
	
		}
	
		reader.readAsDataURL(input.files[0]);
	
	  }
	
	}
	
	function submitHw() {
		alert("作業建立成功");
		history.go(-1);
	
</script>
</body>
</html>
