<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>植得｜首頁</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href="css/mislider.css" rel="stylesheet" type="text/css" />
<link href="css/mislider-custom.css" rel="stylesheet" type="text/css" />

<!-- 107512 menu -->
<link href="css/107512/menu.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.scss" rel="stylesheet"> 


<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- /自己改的CSS -->

<link href="css/107512/mainsetting.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/107512/107512style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/107512/font.css" rel="stylesheet" type="text/css" media="all" />


</head>
	

<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agileits_banner_main_grid">
				<div class="w3_agile_logo">
					<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
					<img src="images/logo.png" style="height:15%; width:15%; background:#a1d034; border-radius: 15px;"></img>
				</div>
				<!--
				<div class="agile_social_icons_banner">
					<ul class="agileits_social_list">
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					
					</ul>
				</div>
				
				-->
				<div class="agileits_w3layouts_menu">
					<div class="shy-menu">
						<!--<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a>
						<div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li class="active"><a href="/index">Home</a></li>
									<li><a href="/about">About Us</a></li> 
									<li><a href="/services">Services</a></li>
									<li><a href="/gallery">Gallery</a></li> 
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</nav>
						</div>-->
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

			<!--- connect menu.css start-->
			<div class="menu-icon107512">
				<span class="menu-icon__line menu-icon__line-left"></span>
				<span class="menu-icon__line"></span>
				<span class="menu-icon__line menu-icon__line-right"></span>
			</div>

			<div class="nav107512">
				<div class="nav__content">
					<ul class="nav__list">
						<li class="nav__list-item" style="text-decoration:none;"><a href="/index"><img src="images/menuhome.png" style="margin-right:7px;">首頁</img></li>
						<li class="nav__list-item"><a href="/about"><img src="images/menuabout.png" style="margin-right:7px;">關於我們</img></li>
						<li class="nav__list-item"><a href="/services"><img src="images/menuteach.png" style="margin-right:7px;">教學</img></li>
						<li class="nav__list-item"><a href="/course"><img src="images/menucourse.png" style="margin-right:7px;">課程</img></li>
						<li class="nav__list-item"><a href="/memberT"><img src="images/menuaccount.png" style="margin-right:7px;">會員</img></li>
						<li class="nav__list-item"><a href="/loginForm"><img src="images/menuaccount.png" style="margin-right:7px;">登入</img></li>
					</ul>
				</div>
			</div>
			<!--- connect menu.css end-->

			<div class="w3_banner_info">
				<div class="w3_banner_info_grid" style="width:1500px;">
					<h3 class="test" id='Titlewordmaster'>讓小朋友們愛上自然吧 ! </h3>
					<h2 id='Titleword1' style="font-size:20px; color:rgba(255, 255, 255, 0.8); text-decoration:none; line-height:35px; margin-top:20px;">"天地之大在於人、天地之本在於萬物!，當我們還小的時候，沒有養成對自然生態的良好觀念!，實屬可惜!"</h2>
					<h2 id='Titleword1' style="font-size:20px; color:rgba(255, 255, 255, 0.8); text-decoration:none;line-height:35px;">"讓我們將共學，連結大學與小學之間，將植物知識傳達給每一個人"</h2>
					<!--<ul>
						<li><a href="/contact" class="w3l_contact">Contact Us</a></li>
						<li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Read More</a></li>
					</ul>-->
				</div>
			</div>
			<div class="thim-click-to-bottom">
				<a href="#next" class="scroll">
					<i class="fa  fa-chevron-down"></i>
				</a>
			</div>
		</div>
	</div>
<!-- banner -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					自然共學
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<p>自然共學</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- banner-bottom -->
	<div class="banner-bottom" id='next' >
		<div class="col-md-4 agileits_banner_bottom_left" >
			<div class="agileinfo_banner_bottom_pos" >
				<div class="w3_agileits_banner_bottom_pos_grid" >
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out" style="margin-top:-40px;">
							<i class="fa fa-pagelines" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right" style="margin-top:-40px;">	
						<h4 id='Title1'>小學生</h4>
						<p id='Titleword' style="font-size:20px;">國小一到六年級  /  為我們的教學對象，讓小小學子能認識綠色之美。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 agileits_banner_bottom_left1" style="background: url(../images/4.jpg);">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out" style="margin-top:-40px;">
							<i class="fa fa-certificate" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right" style="margin-top:-40px;">	
						<h4 id='Title1' >目標對象</h4>
						<!--<p id='Titleword' style="font-size:20px;"></p>-->
						<p id='Titleword' style="font-size:20px;">我們將目標鎖定在兩個對象，藉由大學生累積的知識，轉化給小朋友、進行有樂趣的學習，讓雙方
								學生們共學 ! </p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 agileits_banner_bottom_left2">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out" style="margin-top:-40px;"> 
							<i class="fa fa-yelp" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right" style="margin-top:-40px;">	
						<h4 id='Title1' >大學生</h4>
						<p id='Titleword' style="font-size:20px;">大學到研究所 / 讓大學生開線上課程，細心的教導小朋友綠色知識吧 ! </p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //banner-bottom -->
<!-- welcome -->
	<div class="welcome welcome1">
		
		<div class="container">
			<h3 class="agileits_w3layouts_head">我們呈現的 <span>所有功能</span></h3>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive" />
			</div>
			<p class="agile_para" style="font-size:20px;">共同討論、多元學習為我們理想中的核心，<br>讓小朋友能夠以最貼切與毫無壓力共同互相學習，達到我們共學的理念。</p>
		</div>
		<div class="mis-stage w3_agileits_welcome_grids" > 
			<!-- The element to select and apply miSlider to - the class is optional -->
			<ol class="mis-slider">
				
				<li class="mis-slide"> 
					<figure> 
						<img src="images/diary.png" alt=" " class="img-responsive" />
						<figcaption id='mis-slideWord' style="margin-top:10px;">植物日記(Diary)<br><p class="agile_para" >紀錄小朋友們與自然互動的點點滴滴。</p></figcaption>
					</figure>
				</li>
				<li class="mis-slide"> 
					<figure> 
						<img src="images/treecard.png" alt=" " class="img-responsive"  />
						<figcaption id='mis-slideWord'style="margin-top:10px;" >我的卡牌(My Cards)<br><p class="agile_para" >我們的創新，將遊戲元素融入大自然。</p></figcaption>
					</figure>
				</li>
				
				<li class="mis-slide"> 
						<figure> 
							<img src="images/course.png" alt=" " class="img-responsive" />
							<figcaption id='mis-slideWord' >線上課程(Class)<br><p class="agile_para" >大學生線上教導，讓小朋友們隨時隨地吸收自然知識。</p></figcaption>
							
						</figure>
				</li>				
				<li class="mis-slide"> 
					<figure> 
						<img src="images/AR.png" alt=" " class="img-responsive" />
						<figcaption id='mis-slideWord' style="margin-top:10px;" >AR導覽(限APP)<br><p class="agile_para" >引進最新AR技術，用科技方法來探索與了解身邊植物。</p></figcaption>
					</figure>
				</li>
				<li class="mis-slide"> 
					<figure> 
						<img src="images/outsidelecture.png" alt=" " class="img-responsive" />
						<figcaption id='mis-slideWord' >實體課程(偏鄉教學)<br><p class="agile_para" >參與偏鄉教育，培養社會教育責任、共學極大化。</p></figcaption>
					</figure>
				</li>
			</ol>
		</div>
	</div>

<!-- //welcome-bottom -->
<!-- news -->

	<div class="welcome" id='welcome2'>
		<div class="container container2">
			<h3 class="agileits_w3layouts_head">目前最 <span>HOTs</span> 的線上課程</h3>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>
			<p class="agile_para" style="font-size:20px;">一群喜愛環境自然、生態植物的大學生們，當起了小小老師。這些課程是小朋友是最愛的一些課程哦 !</p>
			<div class="w3ls_news_grids">
				<div class="col-md-20 w3ls_news_grid" id='HotClassDetach' >
					<div class="w3layouts_news_grid">
						<img src="images/3.jpg" alt=" " class="img-responsive" />
						<div class="w3layouts_news_grid_pos">
							<div class="wthree_text" style="margin-top:15%;"><h3>熱門種植課程</h3></div>
						</div>
					</div>
					<div class="agileits_w3layouts_news_grid">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2018 3月 30日 18:30</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">李oo</a></li>
						</ul>
						<h4><a href="#" data-toggle="modal" data-target="#myModal">跟著我一起來種牽牛花</a></h4>
						<p>[課程敘述]</p>
					</div>
				</div>
				<div class="col-md-20 w3ls_news_grid">
					<div class="w3layouts_news_grid">
						<img src="images/6.jpg" alt=" " class="img-responsive" />
						<div class="w3layouts_news_grid_pos">
							<div class="wthree_text" style="margin-top:15%;"><h3>熱門DIY課程</h3></div>
						</div>
					</div>
					<div class="agileits_w3layouts_news_grid">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2018 4月 15日 17:30</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">陳xx</a></li>
						</ul>
						<h4><a href="#" data-toggle="modal" data-target="#myModal">三步驟簡單做無患子肥皂</a></h4>
						<p>[課程敘述]</p>
					</div>
				</div>
				<div class="col-md-20 w3ls_news_grid">
					<div class="w3layouts_news_grid">
						<img src="images/5.jpg" alt=" " class="img-responsive" />
						<div class="w3layouts_news_grid_pos">
							<div class="wthree_text" style="margin-top:15%;"><h3>熱門植物結構課程</h3></div>
						</div>
					</div>
					<div class="agileits_w3layouts_news_grid">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2018 5月 08日 13:30</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">王曉銘</a></li>
						</ul>
						<h4><a href="#" data-toggle="modal" data-target="#myModal">你也好奇仙人掌結構嗎?</a></h4>
						<p>[課程敘述]</p>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

<!-- //welcome -->
<!-- 年度計畫 / 報告 -->
<div id="welcome_bottom" class="welcome-bottom">
	<div class="col-md-6 wthree_welcome_bottom_left">
		<h3 id='PeopleCountTitleChinese'>一起翻自然 ! <span id='PeopleCountTitleChinese'>/ 目前成效</span> <span id='PeopleCountTitle'></span></h3>
		<p class="agile_para" style="font-size:20px; text-align:left;">這是我們從一開始，一直累積到現在的成果!<br>我們致力於給小朋友最好的學習環境、大學生友善的教學環境，一點一滴，得來不易! </p>
		<div class="col-md-6 wthree_welcome_bottom_left_grid" >
			<div class="w3l_social_icon_gridl" >
				<img src="images/date.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;" />
			</div>
			<div class="w3l_social_icon_gridr" style="margin-left:55px;">
				<h4 class="counter">1天</h4>
			</div>
			<div class="clearfix"> </div>
			<div class="w3l_social_icon_grid_pos">
				<label>-</label>
			</div>
		</div>
		<div class="col-md-6 wthree_welcome_bottom_left_grid" >
			<div class="w3l_social_icon_gridl">
				<img src="images/teacher.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;"/>
			</div>
			<div class="w3l_social_icon_gridr" style="margin-left:55px;">
				<h4 class="counter">2位老師</h4>
			</div>
			<div class="clearfix"> </div>
			<div class="w3l_social_icon_grid_pos">
				<label>-</label>
			</div>
		</div>
		<div class="col-md-6 wthree_welcome_bottom_left_grid">
			<div class="w3l_social_icon_gridl">
				<img src="images/student.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;" />
			</div>
			<div class="w3l_social_icon_gridr" style="margin-left:55px;">
				<h4 class="counter">10位學生</h4>
			</div>
			<div class="clearfix"> </div>
			<div class="w3l_social_icon_grid_pos">
				<label>-</label>
			</div>
		</div>
		<div class="col-md-6 wthree_welcome_bottom_left_grid">
			<div class="w3l_social_icon_gridl">
				<img src="images/online-course.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;	"/>
			</div>
			<div class="w3l_social_icon_gridr" style="margin-left:55px;">
				<h4 class="counter" >2個課程</h4>
			</div>
			<div class="clearfix"> </div>
			<div class="w3l_social_icon_grid_pos">
				<label>-</label>
			</div>
		</div>
		
		<div class="clearfix"> </div>
	</div>
	<div class="col-md-6 wthree_welcome_bottom_right">
		<div class="agileinfo_grid">
			<figure class="agileits_effect_moses">
				<img src="images/4.jpg" alt=" " class="img-responsive" />
				<figcaption>
					<h4>科技冷漠時代 <span><br/>由你來改變</span></h4>
					<p style="font-size:20px;">不僅為了我們的地球或著離你最親且未來與你生活最久的你的小孩，從小看到的不是你居然會是科技產品
					第一個接觸的不是你的手心而是冰冷的螢幕介面，你承受的了嗎? 開始替孩子來個植物的教學課程吧!
					</p>
				</figcaption>			
			</figure>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
<!-- //news -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<h3 class="agileits_w3layouts_head agileinfo_head"><span>現場實體教學課程</span> 我有興趣!</h3>
			<div class="w3_agile_image">
				<img src="images/12.png" alt=" " class="img-responsive">
			</div>
			<p class="agile_para agileits_para" style="font-size:20px; letter-spacing:3px;">對於手工教學教會小朋友或著國小生課外的自然植物教學課程有興趣者<br/>歡迎填寫你精心策畫的教學課程! 由我們幫你實現你的願望!<br/>先將你的資料給我們，好做核對，收到您的email後盡快回信!</p>
			<div class="w3ls_news_grids w3ls_newsletter_grids">
				<form action="#" method="post">
					<input name="Your Name" placeholder="你的稱呼" type="text" required="">
					<input name="Your Email" placeholder="你的信箱" type="email" required="">
					<input type="submit" value="傳送">
				</form>
			</div>
		</div>
	</div>


<!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3agile_footer_grids">
				<div class="col-md-3 agileinfo_footer_grid" style="margin-left:200px;">
					<div class="agileits_w3layouts_footer_logo">
						<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
					<img src="images/logo.png" style="height:50%; width:50%; background:#a1d034; border-radius: 15px;"></img>
					</div>
				</div>
				<div class="col-md-4 agileinfo_footer_grid" style="margin-left:80px;">
					<h3>聯絡資訊</h3>
					<h4>連絡電話 <span>02-2598-6218</span></h4>
					<p><h4>研究室地址</h4> <span style="color:#fff; font-size:15px;"> 臺北市中正區濟南路 121號,六藝樓四樓401教室</span></p>
					<ul class="agileits_social_list">
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul>
				</div> <!--
				<div class="col-md-2 agileinfo_footer_grid agileinfo_footer_grid1">
					<h3>Navigation</h3>
					<ul class="w3layouts_footer_nav">
						<li><a href="/index"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Home</a></li>
						<li><a href="/icons"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Web Icons</a></li>
						<li><a href="/typography"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Typography</a></li>
						<li><a href="/contact"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 agileinfo_footer_grid">
					<h3>Blog Posts</h3>
					<div class="agileinfo_footer_grid_left">
						<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="agileinfo_footer_grid_left">
						<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/2.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="agileinfo_footer_grid_left">
						<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="agileinfo_footer_grid_left">
						<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/3.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>-->
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="w3_agileits_footer_copy">
			<div class="container">
				<p>© 2017 Germinate. All rights reserved | Design by <a href="http://w3layouts.com">ntub107512 專題組.</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!-- mislider -->
	<script src="js/mislider.js" type="text/javascript"></script>
	<script type="text/javascript">
        jQuery(function ($) {
            var slider = $('.mis-stage').miSlider({
                //  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
                stageHeight: 380,
                //  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
                slidesOnStage: false,
                //  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
                slidePosition: 'center',
                //  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
                slideStart: 'mid',
                //  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
                slideScaling: 150,
                //  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
                offsetV: -5,
                //  Center slide contents vertically - Boolean. Default: false
                centerV: true,
                //  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
                navButtonsOpacity: 1,
            });
        });
    </script>
<!-- //mislider -->
<!-- text-effect -->
		<script type="text/javascript" src="js/jquery.transit.js"></script> 
		<script type="text/javascript" src="js/jquery.textFx.js"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
					$('.test').textFx({
						type: 'fadeIn',
						iChar: 100,
						iAnim: 1000
					});
			});
		</script>
<!-- //text-effect -->
<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<!-- 107512 menu -->
<script src="js/107512/menu.js"></script>
<script src="js/107512/menu2107512.js"></script>

<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>