<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>植得 | 教學</title>
<link rel="Shortcut Icon" type="image/x-icon" href="images/logoHead.png" style="height:200%; width:200%;"/>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />

<!-- 107512 menu -->
<link href="css/107512/menu.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.css" rel="stylesheet"> 
<link href="css/107512/menustyle107512.scss" rel="stylesheet"> 

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- Services -->
<link href="css/107512/services/myServices.css" rel="stylesheet"> 
<link href="css/107512/font.css" rel="stylesheet"> 


</head>
	
<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="w3_agileits_banner_main_grid">
				<div class="w3_agile_logo">
					<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
					
					<img src="images/logo.png" style="height:20%; width:20%; float:right;"></img>
					<!-- <img src="images/logo.png" style="height:15%; width:15%; background:#a1d034; border-radius: 15px;"></img> -->
				</div>
				<!--
				<div class="agile_social_icons_banner">
					<ul class="agileits_social_list">
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				-->
				<div class="agileits_w3layouts_menu">
					<div class="shy-menu">
						<!--<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a>
						<div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li class="active"><a href="/index">首頁</a></li>
									<li><a href="/about">關於我們</a></li> 
									<li><a href="/services">教學</a></li>
									<li><a href="/course">課程</a></li> 
									<li><a href="/contact">會員</a></li>
								</ul>
							</nav>
						</div>-->
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--- connect menu.css start-->
			<div class="menu-icon107512">
				<span class="menu-icon__line menu-icon__line-left"></span>
				<span class="menu-icon__line"></span>
				<span class="menu-icon__line menu-icon__line-right"></span>
			</div>

			<div class="nav107512">
				<div class="nav__content">
					<ul class="nav__list">
						<li class="nav__list-item" style="text-decoration:none;"><a href="/index"><img src="images/menuhome.png" style="margin-right:7px;">首頁</img></li>
						<li class="nav__list-item"><a href="/about"><img src="images/menuabout.png" style="margin-right:7px;">關於我們</img></li>
						<li class="nav__list-item"><a href="/services"><img src="images/menuteach.png" style="margin-right:7px;">教學</img></li>
						<li class="nav__list-item"><a href="/course"><img src="images/menucourse.png" style="margin-right:7px;">課程</img></li>
						<li class="nav__list-item"><a href="/memberT"><img src="images/menuaccount.png" style="margin-right:7px;">會員</img></li>
						<li class="nav__list-item"><a href="/loginForm"><img src="images/menuaccount.png" style="margin-right:7px;">登入</img></li>
					</ul>
				</div>
			</div>
			<!--- connect menu.css end-->
		</div>
	</div>
<!-- banner -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Germinate
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="w3layouts_breadcrumbs_left">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="/index">首頁</a><span>/</span></li>
					<li><i class="fa fa-cogs" aria-hidden="true"></i>教學</li>
				</ul>
			</div>
			<div class="w3layouts_breadcrumbs_right">
				<h2>教學</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- services -->
	<div class="welcome">
		<div class="container">
			<h3 class="agileits_w3layouts_head"><span>大學生有哪些實用功能呢？</span></h3>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive"/>
			</div>
			<p class="agile_para">對植物知識有熱忱的你，快來建立具有教育意義又具創意思考性的植物教學課程！</p>
			
			<div class="w3_agile_services_grids"> 
				<div class="col-md-6 w3_agile_services_grid"> 
					<div class="col-xs-4 w3_agile_services_grid_left"> 
						<div class="agile_services_grid_left1 hvr-radial-out"> 
							<img src="images/course.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;"/>
						</div>
					</div>
					<div class="col-xs-8 w3_agile_services_grid_right"> 
						<h4>建立課程</h4>
						<p>先確定想建立的課程主軸，設定好釋出課程的時間！</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3_agile_services_grid"> 
					<div class="col-xs-4 w3_agile_services_grid_left"> 
						<div class="agile_services_grid_left1 hvr-radial-out"> 
							<img src="images/diary.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;"/>
						</div>
					</div>
					<div class="col-xs-8 w3_agile_services_grid_right"> 
						<h4>寫寫日記</h4>
						<p>想撰寫一些有關植物日誌小記嗎？這裡提供你最方便的流程，輕鬆建立，還可以分享給其他有興趣的人們欣賞！</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3_agile_services_grid"> 
					<div class="col-xs-4 w3_agile_services_grid_left"> 
						<div class="agile_services_grid_left1 hvr-radial-out"> 
							<img src="images/service-course.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;"/>
						</div>
					</div>
					<div class="col-xs-8 w3_agile_services_grid_right"> 
						<h4>針對課程屬性建立不同形式的課堂</h4>
						<p>步驟形式-DIY教學想利用步驟形式教學解說嗎？<br>影片形式-直接拍一個影片教你種植物的訣竅！</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3_agile_services_grid"> 
					<div class="col-xs-4 w3_agile_services_grid_left"> 
						<div class="agile_services_grid_left1 hvr-radial-out"> 
							<img src="images/service-eport.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;"/>
						</div>
					</div>
					<div class="col-xs-8 w3_agile_services_grid_right"> 
						<h4>我的生涯</h4>
						<p>詳細了解你在"植得"開過的所有課程以及小朋友的作業內容紀實</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3_agile_services_grid"> 
						<div class="col-xs-4 w3_agile_services_grid_left"> 
							<div class="agile_services_grid_left1 hvr-radial-out"> 
								<img src="images/service-QA.png" alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;" />
							</div>
						</div>
						<div class="col-xs-8 w3_agile_services_grid_right"> 
							<h4>留言/回覆</h4>
							<p>針對小學生提出的問題，利用回覆功能</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 w3_agile_services_grid"> 
							<div class="col-xs-4 w3_agile_services_grid_left"> 
								<div class="agile_services_grid_left1 hvr-radial-out"> 
									<img src="images/service-hw.png"  alt=" " class="img-responsive" style="width:80px; height:80px; margin-top:10px;"/>
								</div>
							</div>
							<div class="col-xs-8 w3_agile_services_grid_right"> 
								<h4>批閱作業</h4>
								<p>每堂課的作業，可以方便了解學生的吸收程度，也能認識現在小學生創意發想的強大！</p>
							</div>
							<div class="clearfix"> </div>
						</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- services-bottom -->
	<div class="services-bottom">
		<div class="container">
			<h3 class="agileits_w3layouts_head agileinfo_head w3_head"><span>課堂裡需要哪些內容呢？</span></h3>
			<div class="w3_agile_image">
				<img src="images/17.png" alt=" " class="img-responsive">
			</div>
			<p class="agile_para agileits_para">不多不少剛剛好</p>
			<div class="w3ls_news_grids">
				<div class="col-md-4 w3_agileits_services_bottom_grid">
					<div class="wthree_services_bottom_grid1">
						<img src="images/courseshow.png" alt=" " class="img-responsive" />
						<div class="wthree_services_bottom_grid1_pos">
							<h4>課堂敘述</h4>
						</div>
					</div>
					<div class="agileinfo_services_bottom_grid2">
						<p>生動的課程筆記內容，都能在這裡閱覽哦！</p>
						<!-- 
						<div class="agileits_w3layouts_learn_more hvr-radial-out">
							<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
						--> 
					</div>
				</div>
				<div class="col-md-4 w3_agileits_services_bottom_grid">
					<div class="wthree_services_bottom_grid1">
						<img src="images/homeworkshow.png" alt=" " class="img-responsive" />
						
						<div class="wthree_services_bottom_grid1_pos">
							<h4>課堂作業</h4>
						</div>
					</div>
					<div class="agileinfo_services_bottom_grid2">
						<p>開放式問答，讓小朋友練習思考自己的想法！</p>
						<!-- 
						<div class="agileits_w3layouts_learn_more hvr-radial-out">
							<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
						-->
					</div>
				</div>
				<div class="col-md-4 w3_agileits_services_bottom_grid">
					<div class="wthree_services_bottom_grid1">
						<img src="images/nextshow.png" alt=" " class="img-responsive" />
						<div class="wthree_services_bottom_grid1_pos">
							<h4>怎麼進到下一堂課？</h4>
						</div>
					</div>
					<div class="agileinfo_services_bottom_grid2">
						<p>乖乖完成每堂作業，就能自動解鎖新課堂唷！</p>
						<!-- 
						<div class="agileits_w3layouts_learn_more hvr-radial-out">
							<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
						-->
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services-bottom -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="agileits_w3layouts_head"><span>紅人榜</span></h3>
			<div class="w3_agile_image">
				<img src="images/1.png" alt=" " class="img-responsive">
			</div>
			<p class="agile_para">只要認真開課程，讓孩子們評選為優秀開課者，即可獲得機會開設實體課程唷！</p>
			<div class="w3ls_news_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="agile_testimonials_grid">
									<div class="col-md-4 agile_testimonials_grid_left">
										<img src="images/15.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="col-md-8 agile_testimonials_grid_right">
										<h5><span>__[name]___</span> <i>'___[課程名稱]_____'</i></h5>
										<div class="wthree_stars">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p>從這次實體課程，感受到孩子們對植物、自然的熱愛！</p>
										<h6>[name]<span>Teacher</span></h6>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="agile_testimonials_grid">
									<div class="col-md-4 agile_testimonials_grid_left">
										<img src="images/14.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="col-md-8 agile_testimonials_grid_right">
										<h5><span>__[name]___</span> <i>'___[課程名稱]_____'</i></h5>
										<div class="wthree_stars">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p>慢慢的進入各種籌備工作期，雖然忙碌到心卻很踏實~</p>
										<h6>[name]<span>Teacher</span></h6>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="agile_testimonials_grid">
									<div class="col-md-4 agile_testimonials_grid_left">
										<img src="images/16.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="col-md-8 agile_testimonials_grid_right">
										<h5><span>__[name]___</span> <i>'___[課程名稱]_____'</i></h5>
										<div class="wthree_stars">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p>努力了解植物與籌備過程中，真的非常辛苦，感謝大家讓我很順利！</p>
										<h6>[name]<span>Teacher</span></h6>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //testimonials -->
<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
  </script>
<!-- //flexSlider -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="w3agile_footer_grids">
			<div class="col-md-3 agileinfo_footer_grid" style="margin-left:200px;">
				<div class="agileits_w3layouts_footer_logo">
					<!--<h1><a href="/index"><span>植</span>得<i></i></a></h1>-->
					<img src="images/logo.png" style="height:80%; width:80%; float:right;"></img>
					<!-- <img src="images/logo.png" style="height:50%; width:50%; background:#a1d034; border-radius: 15px;"></img>-->
				</div>
			</div>
			<div class="col-md-4 agileinfo_footer_grid" style="margin-left:80px;">
				<h3>聯絡資訊</h3>
				<h4>連絡電話 <span>02-2598-6218</span></h4>
				<p><h4>研究室地址</h4> <span style="color:#fff; font-size:15px;"> 臺北市中正區濟南路 121號,六藝樓四樓401教室</span></p>
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div> <!--
			<div class="col-md-2 agileinfo_footer_grid agileinfo_footer_grid1">
				<h3>Navigation</h3>
				<ul class="w3layouts_footer_nav">
					<li><a href="/index"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Home</a></li>
					<li><a href="/icons"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Web Icons</a></li>
					<li><a href="/typography"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Typography</a></li>
					<li><a href="/contact"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 agileinfo_footer_grid">
				<h3>Blog Posts</h3>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/2.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="agileinfo_footer_grid_left">
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/3.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>-->
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3_agileits_footer_copy">
		<div class="container">
			<p>© 2017 Germinate. All rights reserved | Design by <a href="http://w3layouts.com">ntub107512 專題組.</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- menu -->
	<script>
		$(function() {
			
			initDropDowns($("div.shy-menu"));

		});

		function initDropDowns(allMenus) {

			allMenus.children(".shy-menu-hamburger").on("click", function() {
				
				var thisTrigger = jQuery(this),
					thisMenu = thisTrigger.parent(),
					thisPanel = thisTrigger.next();

				if (thisMenu.hasClass("is-open")) {

					thisMenu.removeClass("is-open");

				} else {			
					
					allMenus.removeClass("is-open");	
					thisMenu.addClass("is-open");
					thisPanel.on("click", function(e) {
						e.stopPropagation();
					});
				}
				
				return false;
			});
		}
	</script>
<!-- //menu -->
<!-- 107512 menu -->
<script src="js/107512/menu.js"></script>
<script src="js/107512/menu2107512.js"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>