
  .containerbutton {
	position: static;
	text-align:center;
	margin-top: 20px;
	}
	.containerbuttonview {
		position: static;
		text-align:center;
		margin-top: 20px;
	}
  
  button {
	outline: none;
	height:80px;
	text-align: center;
	width: 80px;
	border-radius: 40px;
	background: #fff;
	border: 2px solid #1ECD97;
	color: #1ECD97;
	letter-spacing: 1px;
	text-shadow: 0;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.25s ease;
  }
  button:hover {
	color: white;
	background: #1ECD97;
  }
  button:active {
	letter-spacing: 2px;
  }
  
  .onclic {
	width: 40px;
	border-color: #bbbbbb;
	border-width: 3px;
	font-size: 0;
	border-left-color: #1ECD97;
	-webkit-animation: rotating 2s 0.25s linear infinite;
			animation: rotating 2s 0.25s linear infinite;
  }
  .onclic:after {
	content: "";
  }
  .onclic:hover {
	color: #1ECD97;
	background: white;
  }
  
  .validate {
	font-size: 13px;
	color: white;
	background: #1ECD97;
  }
  .validate:after {
	font-family: 'FontAwesome';
	content: "\f00c";
  }
  
  @-webkit-keyframes rotating {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  
  @keyframes rotating {
	from {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
	}
	

/*RWD*/

@media (max-width:1500px){
	#buttonview{
		margin-bottom: 0px;
		float:right;
	}

	.containercourseView2{
		width:1220px;
	}
}
@media (max-width:1280px){
	#buttonview{
		margin-bottom: 0px;
		float:right;
	}

	.containercourseView2{
		width:1000px;
	}
}

@media (max-width:1000px){
	#buttonview{
		margin-bottom: 0px;
		float:right;
		margin-top:50px;
	}

	.containercourseView2{
		width:720px;
	}
}

@media (max-width:800px){
	#buttonview{
		margin-bottom: 0px;
		float:right;
		margin-top:100px;
	}

	.containercourseView2{
		width:500px;
	}
}

@media (max-width:400px){
	#buttonview{
		margin-bottom: 0px;
		float:right;
		margin-top:150px;
	}

	.containercourseView2{
		width:100px;
	}

	.gallery{
		margin-right:10px;
	}
}


