#videosList {
    max-width: 600px; 
     overflow: hidden;
   }
   
   .video {
     background-image:url("/images/leaf2.jpg");
    width:100%;
    height:100%;
     margin-bottom: 50px;

   }
   
   /* Hide Play button + controls on iOS */
   video::-webkit-media-controls {
       display:none !important;
   }