

button{
    color:#fff;
    text-align: center;
    padding: 20px;
  }

  
  a{
     text-decoration:none;
     color:#fff;
  }
  
  a:hover{
     color:#000000;
  }
  
  
  
  .sub-main{
    width: 30%;
    margin:22px;
    float: left;
  }
  
  .button-two{
    text-align: center;
    cursor: pointer;
    font-size:20px;
    margin: 0 0 0 100px;
  }
  
  
  
  /*Button Two*/
  .button-two {
    border-radius: 4px;
    background-color:#2ecc71;
    border: none;
    padding: 20px;
    width: 145px;
    height:40px;
    transition: all 0.5s;
  }
  
  
  .button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; 
    top:-12px;  /*按鈕字的位置*/
  }
  
  .button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-two:hover span {
    padding-right: 25px;

  }
  
  .button-two:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  
  