p.agile_para{
	font-size: 20px;
}

div.services-bottom{
	/*background-image:url('images/flower.png');
	/ackground-image:url(images/flower.png);*/
}

div.agileinfo_services_bottom_grid2{
	background-color: rgba(64, 175, 212,0.65);
}
div.agileinfo_services_bottom_grid2 p{
	font-size: 16px;

}