
.tableforplant {
    position: relative;
    top: -47px;
    left: 220px;
    background: #00C2C2;
}
.tableforplant::before {
    position: absolute;
    left: 50px;
    width: 10px;
    
    background: #00C2C2;
    content: "";
    transform: rotate(30deg);
}
.tableforplant::after {
    position: absolute;
    left: 140px;
    width: 10px;
    background: #00C2C2;
    content: "";
    transform: rotate(-30deg);
}
.bowl {
    position: absolute;
    top: -30px;
    left: 70px;
    width: 60px;
    height: 30px;
    background: #FEE225;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.cable {
    position: absolute;
    top: -110px;
    left: 30px;
    width: 3px;
    height: 110px;
    background: #00C2C2;
}
.leaf-1 {
    position: absolute;
    left: 2px;
    width: 30px;
    height: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #43C4BA;
    animation: voaa 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
}
.leaf-2 {
    position: absolute;
    top: 25px;
    left: -30px;
    width: 30px;
    height: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #43C4BA;
    animation: voaa 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
}
.leaf-3 {
    position: absolute;
    top: 50px;
    left: 2px;
    width: 30px;
    height: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #43C4BA;
    animation: voaa 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
}
.leaf-4 {
    position: absolute;
    top: 75px;
    left: -30px;
    width: 30px;
    height: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #43C4BA;
    animation: voaa 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
}
@keyframes voaa {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(2px)
    }
}
@media (max-width:1440px){
	.nav__content ul li {
		font-size: 40px;
	}
	
}

@media (max-width:1360px){
	.nav__content ul li {
		font-size: 38px;
	}
	
}

@media (max-width:1280px){
	.nav__content ul li {
		font-size: 36px;
	}
	
}

@media (max-width:1080px){
    .nav__content ul li {
		font-size: 34px;
	}
	
}

@media (max-width:991px){
	.nav__content ul li {
		font-size: 32px;
	}
	
}

@media (max-width:800px){
	/*.nav__content ul{
        text-align: center;
    }
    .nav__content ul li{
        display: inline-block;
    }
    .snav__content ul li a{
        color: #fff;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
    }*/

    .nav__content ul li {
		font-size: 30px;
	}
	
    
    
}

@media (max-width:768px){
	
	.nav__content ul li {
		font-size: 28px;
		display: block;
		margin-top:10px;
		text-align: center;
	}
	
	.nav__content ul {
		margin-top:100px;
		margin-right: 100px;
	}

	.nav__list{
		
	}

	.nav107512{
			
	}

}

@media (max-width:736px){
	.nav__content ul li {
		font-size: 26px;
	}
	
}

@media (max-width:640px){
    .nav__content ul li {
		font-size: 24px;
	}
	
	.nav__content ul li a {
        word-wrap:break-word;
    }
}

@media (max-width:480px){
	.nav__content ul li {
		font-size: 22px;
	}
	
}

@media (max-width:414px){
	.nav__content ul li {
		font-size: 20px;
	}
	
}

@media (max-width:384px){
	.nav__content ul li {
		font-size: 18px;
	}
	
}

@media (max-width:375px){
	.nav__content ul li {
		font-size: 16px;
	}
	
}

@media (max-width:320px){
	.nav__content ul li {
		font-size: 14px;
	}
	
}