/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body{
    font-size: 100%;
	/*font-family: 'Open Sans', sans-serif;*/
	background:#ffffff;
	margin: 0;
}
h2{
	font-family: 'Noto Sans SC', sans-serif;
}
#PeopleCountTitleChinese{
	font-family: 'Noto Sans SC', sans-serif;
	color:black;
	margin-left: 75px;
}
#PeopleCountTitle{
	margin-left:50px;
}
#Titlewordmaster{
	font-size:48px;
	font-family: 'Noto Sans TC', sans-serif;
}
#Titleword{
	font-weight: 500;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	font-size:15px;
}
#Titleword1{
	font-family: 'Noto Sans TC', sans-serif;
}
#Title1{
	font-size:30px;
	font-weight: 600;
}
#HotClassDetach{
	padding-left:-270px;
}
#HotClassDetach1{
	margin-right:-350px;
}
.agileits_w3layouts_head{
	font-family: Microsoft JhengHei;	
	font-size:32px;
}
.agileits_w3layouts_head span{
	color:#a0d034;
	font-size:40px;
}
.agile_para{
	font-family: Microsoft JhengHei;
}
.mis-slide figure figcaption{
	color:rgb(168, 109, 0);
	font-family: Microsoft JhengHei;
}
