
.menu-icon107512 {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 30px;
  cursor: pointer;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
  width: 15px;
}
.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav107512 {
  position: fixed;
  z-index: 1;
}
.nav107512:before, .nav107512:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 18vh; /*menu 高度*/
  margin:-100px;
  margin-right:500px;
  
  background: rgba(234, 234, 234, 0.2);
  z-index: -5;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateY(-100%);
          transform: translateX(0%) translateY(-100%);

}

@media (max-width: 880px){
  .nav107512:before, .nav107512:after {
    height:320px;
  }
}

@media (max-width: 680px){
  .nav107512:before, .nav107512:after {
    height:320px;
  }
}


@media (max-width: 480px){
  .nav107512:before, .nav107512:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 320px; /*menu 高度*/
    margin:-100px;
    
    background: rgba(234, 234, 234, 0.2);
    z-index: -5;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
            transform: translateX(0%) translateY(-100%);
  }
}
.nav107512:after {
  background: white;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav107512:before {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.nav__content {
  position: fixed;
  top: 7%; /*menu 連結字高度*/
  bottom: auto;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}
.nav__list-item {
  position: relative;
  display: inline-block;
  /*text-decoration:none;
  color:black;*/
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-right: 50px;
  font-size:32px; /*menu字型大小*/
  color:#000;
}
.nav__list-item:before { /* menu連結的底線 */
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
  /*text-decoration:none;
  color:black;*/
  color:#000;
}
.nav__list-item:hover:before {
  width: 100%;
  color:#000;
}

body.nav107512-active .menu-icon__line {
  background-color: #000;
  -webkit-transform: translateX(0px) rotate(-45deg);
          transform: translateX(0px) rotate(-45deg);
}
body.nav107512-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
          transform: translateX(1px) rotate(45deg);
}
body.nav107512-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}
body.nav107512-active .nav107512 {
  visibility: visible;
}
body.nav107512-active .nav107512:before, body.nav107512-active .nav107512:after {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
body.nav107512-active .nav107512:after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav107512-active .nav107512:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav107512-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
  color:#000;
}
/*body.nav107512-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}*/
body.nav107512-active .nav__list-item:nth-child(1)/*home*/ {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
/*body.nav107512-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}*/
body.nav107512-active .nav__list-item:nth-child(3)/*about*/ {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
/*body.nav107512-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}*/
body.nav107512-active .nav__list-item:nth-child(5)/*service*/ {
  -webkit-transition-delay: 1.0s;
          transition-delay: 1.0s;
}
/*body.nav107512-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}*/
body.nav107512-active .nav__list-item:nth-child(7)/*gallery*/ {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
/*-body.nav107512-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}*/
body.nav107512-active .nav__list-item:nth-child(9) /*contect*/ {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

body.nav107512-active .nav__list-item:nth-child(11) /*contect*/ {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
